body{
    font-family: Arial, Helvetica, sans-serif;
    
}

/* <!-- First introduction section start --> */


.first-intro-section{

display: flex;

}
.first-intro-section-left{


}
.first-intro-section-left h1{
font-size: 3.5rem ;


}
.first-intro-section-left h4{



}
.first-intro-section-left a{
    text-decoration: none;
    background-image: linear-gradient(left);
    border-radius: 10px;
}


